.mark {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.mark:hover {
    filter: brightness(0.95);
}

.animate {
    animation: spinMark 1s ease;
}

@keyframes spinMark {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 769px) and (max-width: 1150px) {
    .mark {
        transform: scale(.85);
        transform-origin: center;
    }
}

@media (max-width: 768px) {
    .mark {
        transform: scale(.65);
        transform-origin: center;
    }
}